#title{
    text-align: center;
}

#img-div{
    width: 70%;

    margin: 0px auto;
}

#image{
    width: 100%;
    height: auto;
    margin-top: 10px;

    display: block;

    border-radius: 10px;
}

#img-caption{
    margin-top: 5px;
    text-align: center;
}